.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#leftbox {
  float: left;
  background: #B1FB17;
  width: 12%;
  height: 800px;
  text-align: center;
  color: white;
}

#date {
  position: relative;
  left: 0%;
  top: 5px;
}

.maindata{
  position: relative;
  margin-top: 5px;
  margin-left: 187px;
  margin-right: 5px;
  
}

.topnav {
  overflow: hidden;
  background-color: #333;
  align-items: center;
}

.Search_Box {
  position: relative;
  left: 320px;
  top: center;
  /* top:25%; */
  /* width:30%; */
  color: grey;
}

.Search_Box2{
  position: relative;
  left: 320px;
  top: center;
  color: grey;
}

.clientname {
  position: relative;
  left: 50px;
  top: center;
  /* top:25%; */
  /* width:30%; */
  color: grey;
}

#select {
  width: 170px;
  height: 30px;
  position: relative;
  left: center;
  top: 20px;
  text-align-last: center;
}